.phone {
  width: 77px;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abel);
  color: var(--color-whitesmoke);
  text-align: center;
  min-width: 77px;
}
.phoneTab1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl-5) var(--padding-xl);
  background-color: var(--color-gray-100);
  width: 288px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.tablet {
  width: 72px;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abel);
  color: var(--color-gray-100);
  text-align: center;
  min-width: 72px;
}
.tabletTab {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl-5) var(--padding-xl);
  background-color: var(--color-darkgray);
  width: 288px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.laptop {
  width: 84px;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abel);
  color: var(--color-gray-100);
  text-align: center;
  min-width: 84px;
}
.laptopTab1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl-5) var(--padding-xl);
  background-color: var(--color-darkgray);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  min-width: 151px;
}
.earbuds {
  width: 101px;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abel);
  color: var(--color-gray-100);
  text-align: center;
  min-width: 101px;
}
.earbudsTab {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl-5) var(--padding-xl);
  background-color: var(--color-darkgray);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  min-width: 151px;
}
.headphones {
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-abel);
  color: var(--color-gray-100);
  text-align: center;
}
.headphonesTab,
.laptopTab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.headphonesTab {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl-5) var(--padding-49xl-5);
  background-color: var(--color-darkgray);
  flex: 0.6089;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 151px;
}
.laptopTab {
  align-self: stretch;
  justify-content: center;
  row-gap: 20px;
}
.hotPicks1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.hotPicks,
.laptopTabParent,
.phoneTab {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hotPicks {
  width: 288px;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.laptopTabParent,
.phoneTab {
  max-width: 100%;
}
.laptopTabParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
  min-width: 562px;
}
.phoneTab {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.appleIphone14 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.learnMore {
  width: 137px;
  position: relative;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-abel);
  color: var(--color-gray-200);
  text-align: center;
}
.learnMoreButton,
.learnMoreButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.learnMoreButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-21xl);
  background-color: var(--color-darkgray);
  border-radius: var(--br-3xs);
  white-space: nowrap;
}
.learnMoreButtonWrapper {
  padding: 0 var(--padding-52xl);
}
.appleiPhoneProMax,
.productCard,
.tabs {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.appleiPhoneProMax {
  width: 359px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.productCard,
.tabs {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
}
.tabs {
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-25xl);
  gap: var(--gap-569xl);
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-abel);
}
@media screen and (max-width: 1050px) {
  .hotPicks1 {
    font-size: var(--font-size-29xl);
  }
  .appleIphone14 {
    font-size: var(--font-size-5xl);
  }
  .tabs {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .laptopTab {
    flex-wrap: wrap;
  }
  .laptopTabParent {
    min-width: 100%;
  }
  .tabs {
    gap: 294px 588px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .earbuds,
  .headphones,
  .laptop,
  .phone,
  .tablet {
    font-size: var(--font-size-xl);
  }
  .headphonesTab {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }
  .hotPicks1 {
    font-size: var(--font-size-17xl);
  }
  .laptopTabParent {
    gap: 20px 40px;
  }
  .appleIphone14 {
    font-size: var(--font-size-lg);
  }
  .learnMoreButtonWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .tabs {
    gap: 147px 588px;
  }
}
